# SteamGridDB API Key (https://www.steamgriddb.com/profile/preferences/api)
STEAMGRID_API_KEY=

# IGDB API Credentials (Twitch Developer Portal)
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
IGDB_ACCESS_TOKEN=

# Steam Web API Key (https://steamcommunity.com/dev/apikey)
STEAM_API_KEY=
